<h1>this is index listings</h1>
<div>
	<%= form_tag(listings_path, :method => "get", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search Listings" %>
	<%= submit_tag "Search" %>
	<% end %>

	<% if @listings.present? %>
	<%= render @listings %>
	<!-- the above line is the same as the bottom 4 lines. essentially it is expecting a partials called listings. so one needs to be created.  -->
	
	<%# @listings.each do |listing| %>
	<%# render partial: 'listing', locals: { listing: listing } %>
	<%# end %>
	<% else %>
	<p>There are no listings containing the term(s) <%= params[:search] %>.</p>
	<%= link_to "Back to Listings", listings_path%>
	<% end %>

</div>

<div>
	<%@listings.each do |listing| %>
	<% render partial: 'listing', locals: { listing: listing } %>
	<% end %> 
</div>
<%= link_to "Create a new listing", new_listing_path%>