<div class= "container">

	<!-- search bar -->
	<div>
		<%= form_tag(listings_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :searchcountry, params[:searchcountry], placeholder: "Country" %>
		<%# form_tag(listings_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :searchtitle, params[:searchtitle], placeholder: "Title" %>

		<%= submit_tag "Search" %>
		<%# end %>
		<% end %>
		<!-- end of search bar -->

		<% if @listings.present? %>
		<div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h1 class="gallery-title">Listings</h1>
		</div>

		<% @listings.each_slice(3) do |listings| %>
		<div class='row'>
			<% listings.each do |listing| %>
			<div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
				<%= render partial: 'listing', locals: { listing: listing } %>
			</div>
			<% end %>
		</div>
		<% end %> 

		<% else %>
		<p>There are no listings containing the term(s) <%= params[:search] %>.</p>
		<%= link_to "Back to Listings", listings_path%>
		<% end %>
	</div>

</div>
<div class= "apple_pagination">
	<%= will_paginate @listings %>
</div>
<br>
<%= link_to "Create a new listing", new_listing_path%>
</div>
