<!DOCTYPE html>
<html>
<head>
  <title>Pairbnb2</title>
  <%= csrf_meta_tags %>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  
  <!-- jquery -->
  <script
  src="https://code.jquery.com/jquery-2.1.4.js"
  integrity="sha256-siFczlgw4jULnUICcdm9gjQPZkw/YPDqhQ9+nAOScE4="
  crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

  
  <!-- bootstrap 3 -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  <!-- payment form -->

  <!-- Load the required client component. -->
  <script src="https://js.braintreegateway.com/web/3.25.0/js/client.min.js"></script>

  <!-- Load Hosted Fields component. -->
  <script src="https://js.braintreegateway.com/web/3.25.0/js/hosted-fields.min.js"></script>


  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
   <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <%= value %>
    </div>
    <% end %>
  <!-- navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <%= image_tag 'airbnb_logo_small.png', height: 38 %>
      </a>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=image_tag current_user.photo.url, class: "profile-image"%>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to'Account', user_path(current_user.id) , method: :get %></li>
          <li><%= link_to'Sign out', sign_out_path, method: :delete %></li>
          <% else %>
          <li><%= link_to 'Sign in', sign_in_path %></li>
          <% end %>
        </ul>
      </div><!-- /.container-fluid -->
    </nav>

    <%= yield %>

  </body>

  </html>
